.pkgG1.n1 {
    background-position: 0 0
}
.pkgG1.n2 {
    background-position: -60px 0
}
.pkgG1.n3 {
    background-position: -120px 0
}
.pkgG1.n4 {
    background-position: -180px 0
}
.pkgG1.n5 {
    background-position: -240px 0
}
.pkgG1.n6 {
    background-position: -300px 0
}
.pkgG1.n7 {
    background-position: -360px 0
}
.pkgG1.n8 {
    background-position: -420px 0
}
.pkgG1.n9 {
    background-position: 0 -60px
}
.pkgG1.n10 {
    background-position: -60px -60px
}
.pkgG1.n11 {
    background-position: -120px -60px
}
.pkgG1.n12 {
    background-position: -180px -60px
}
.pkgG1.n13 {
    background-position: -240px -60px
}
.pkgG1.n14 {
    background-position: -300px -60px
}
.pkgG1.n15 {
    background-position: -360px -60px
}
.pkgG1.n16 {
    background-position: -420px -60px
}
.pkgG1.n17 {
    background-position: 0 -120px
}
.pkgG1.n18 {
    background-position: -60px -120px
}
.pkgG1.n19 {
    background-position: -120px -120px
}
.pkgG1.n20 {
    background-position: -180px -120px
}
.pkgG1.n21 {
    background-position: -240px -120px
}
.pkgG1.n22 {
    background-position: -300px -120px
}
.pkgG1.n23 {
    background-position: -360px -120px
}
.pkgG1.n24 {
    background-position: -420px -120px
}
.pkgG1.n25 {
    background-position: 0 -180px
}
.pkgG1.n26 {
    background-position: -60px -180px
}
.pkgG1.n27 {
    background-position: -120px -180px
}
.pkgG1.n28 {
    background-position: -180px -180px
}
.pkgG1.n29 {
    background-position: -240px -180px
}
.pkgG1.n30 {
    background-position: -300px -180px
}
.pkgG1.n31 {
    background-position: -360px -180px
}
.pkgG1.n32 {
    background-position: -420px -180px
}
.pkgG1.n33 {
    background-position: 0 -240px
}
.pkgG1.n34 {
    background-position: -60px -240px
}
.pkgG1.n35 {
    background-position: -120px -240px
}
.pkgG1.n36 {
    background-position: -180px -240px
}
.pkgG1.n37 {
    background-position: -240px -240px
}
.pkgG1.n38 {
    background-position: -300px -240px
}
.pkgG1.n39 {
    background-position: -360px -240px
}
.pkgG1.n40 {
    background-position: -420px -240px
}
.pkgG1.n41 {
    background-position: 0 -300px
}
.pkgG1.n42 {
    background-position: -60px -300px
}
.pkgG1.n43 {
    background-position: -120px -300px
}
.pkgG1.n44 {
    background-position: -180px -300px
}
.pkgG1.n45 {
    background-position: -240px -300px
}
.pkgG1.n46 {
    background-position: -300px -300px
}
.pkgG1.n47 {
    background-position: -360px -300px
}
.pkgG1.n48 {
    background-position: -420px -300px
}
.pkgG1.n49 {
    background-position: 0 -360px
}
.pkgG1.n50 {
    background-position: -60px -360px
}
.pkgG1.n51 {
    background-position: -120px -360px
}
.pkgG1.n52 {
    background-position: -180px -360px
}
.pkgG1.n53 {
    background-position: -240px -360px
}
.pkgG1.n54 {
    background-position: -300px -360px
}
.pkgG1.n55 {
    background-position: -360px -360px
}
.pkgG1.n56 {
    background-position: -420px -360px
}
.pkgG1.n57 {
    background-position: 0 -420px
}
.pkgG1.n58 {
    background-position: -60px -420px
}
.pkgG1.n59 {
    background-position: -120px -420px
}
.pkgG1.n60 {
    background-position: -180px -420px
}
.pkgG1.n61 {
    background-position: -240px -420px
}
.pkgG1.n62 {
    background-position: -300px -420px
}
.pkgG1.n63 {
    background-position: -360px -420px
}
.pkgG1.n64 {
    background-position: -420px -420px
}
.pkgG1.n65 {
    background-position: 0 -480px
}
.pkgG1.n66 {
    background-position: -60px -480px
}
.pkgG1.n67 {
    background-position: -120px -480px
}
.pkgG1.n68 {
    background-position: -180px -480px
}
.pkgG1.n69 {
    background-position: -240px -480px
}
.pkgG1.n70 {
    background-position: -300px -480px
}
.pkgG1.n71 {
    background-position: -360px -480px
}
.pkgG1.n72 {
    background-position: -420px -480px
}
.pkgG1.n73 {
    background-position: 0 -540px
}
.pkgG1.n74 {
    background-position: -60px -540px
}
.pkgG1.n75 {
    background-position: -120px -540px
}
.pkgG1.n76 {
    background-position: -180px -540px
}
.pkgG1.n77 {
    background-position: -240px -540px
}
.pkgG1.n78 {
    background-position: -300px -540px
}
.pkgG1.n79 {
    background-position: -360px -540px
}
.pkgG1.n80 {
    background-position: -420px -540px
}
.pkgG1.n81 {
    background-position: 0 -600px
}
.pkgG1.n82 {
    background-position: -60px -600px
}
.pkgG1.n83 {
    background-position: -120px -600px
}
.pkgG1.n84 {
    background-position: -180px -600px
}
.pkgG1.n85 {
    background-position: -240px -600px
}
.pkgG1.n86 {
    background-position: -300px -600px
}
.pkgG1.n87 {
    background-position: -360px -600px
}
.pkgG1.n88 {
    background-position: -420px -600pxs
}
.pkgG1.n89 {
    background-position: 0 -660px
}
.pkgG1.n90 {
    background-position: -60px -660px
}
.pkgG1.n91 {
    background-position: -120px -660px
}
.pkgG1.n92 {
    background-position: -180px -660px
}
.pkgG1.n93 {
    background-position: -240px -660px
}
.pkgG1.n94 {
    background-position: -300px -660px
}
.pkgG1.n95 {
    background-position: -360px -660px
}
.pkgG1.n96 {
    background-position: -420px -660px
}
.pkgG1.n97 {
    background-position: 0 -720px
}
.pkgG1.n98 {
    background-position: -60px -720px
}
.pkgG1.n99 {
    background-position: -120px -720px
}
.pkgG1.n100 {
    background-position: -180px -720px
}
.pkgG1.n101 {
    background-position: -240px -720px
}
.pkgG1.n102 {
    background-position: -300px -720px
}
.pkgG1.n103 {
    background-position: -360px -720px
}
.pkgG1.n104 {
    background-position: -420px -720px
}
.pkgG1.n105 {
    background-position: 0 -780px
}
.pkgG1.n106 {
    background-position: -60px -780px
}
.pkgG1.n107 {
    background-position: -120px -780px
}
.pkgG1.n108 {
    background-position: -180px -780px
}
.pkgG1.n109 {
    background-position: -240px -780px
}
.pkgG1.n110 {
    background-position: -300px -780px
}
.pkgG1.n111 {
    background-position: -360px -780px
}
.pkgG1.n112 {
    background-position: -420px -780px
}
.pkgG1.n113 {
    background-position: 0 -840px
}
.pkgG1.n114 {
    background-position: -60px -840px
}
.pkgG1.n115 {
    background-position: -120px -840px
}
.pkgG1.n116 {
    background-position: -180px -840px
}
.pkgG1.n117 {
    background-position: -240px -840px
}
.pkgG1.n118 {
    background-position: -300px -840px
}
.pkgG1.n119 {
    background-position: -360px -840px
}
.pkgG1.n120 {
    background-position: -420px -840px
}
.pkgG1.n121 {
    background-position: 0 -900px
}
.pkgG1.n122 {
    background-position: -60px -900px
}
.pkgG1.n123 {
    background-position: -120px -900px
}
.pkgG1.n124 {
    background-position: -180px -900px
}
.pkgG1.n125 {
    background-position: -240px -900px
}
.pkgG1.n126 {
    background-position: -300px -900px
}
.pkgG1.n127 {
    background-position: -360px -900px
}
.pkgG1.n128 {
    background-position: -420px -900px
}
.pkgG1.n129 {
    background-position: 0 -960px
}
.pkgG1.n130 {
    background-position: -60px -960px
}
.pkgG1.n131 {
    background-position: -120px -960px
}
.pkgG1.n132 {
    background-position: -180px -960px
}
.pkgG1.n133 {
    background-position: -240px -960px
}
.pkgG1.n134 {
    background-position: -300px -960px
}
.pkgG1.n135 {
    background-position: -360px -960px
}
.pkgG1.n136 {
    background-position: -420px -960px
}
.pkgG1.n137 {
    background-position: 0 -1020px
}
.pkgG1.n138 {
    background-position: -60px -1020px
}
.pkgG1.n139 {
    background-position: -120px -1020px
}
.pkgG1.n140 {
    background-position: -180px -1020px
}
.pkgG1.n141 {
    background-position: -240px -1020px
}
.pkgG1.n142 {
    background-position: -300px -1020px
}
.pkgG1.n143 {
    background-position: -360px -1020px
}
.pkgG1.n144 {
    background-position: -420px -1020px
}
.pkgG1.n145 {
    background-position: 0 -1080px
}
.pkgG1.n146 {
    background-position: -60px -1080px
}
.pkgG1.n147 {
    background-position: -120px -1080px
}
.pkgG1.n148 {
    background-position: -180px -1080px
}
.pkgG1.n149 {
    background-position: -240px -1080px
}
.pkgG1.n150 {
    background-position: -300px -1080px
}
.pkgG1.n151 {
    background-position: -360px -1080px
}
.pkgG2.n152 {
    background-position: 0 0
}
.pkgG2.n153 {
    background-position: -60px 0
}
.pkgG2.n154 {
    background-position: -120px 0
}
.pkgG2.n155 {
    background-position: -180px 0
}
.pkgG2.n156 {
    background-position: -240px 0
}
.pkgG2.n157 {
    background-position: -300px 0
}
.pkgG2.n158 {
    background-position: -360px 0
}
.pkgG2.n159 {
    background-position: -420px 0
}
.pkgG2.n160 {
    background-position: 0 -60px
}
.pkgG2.n161 {
    background-position: -60px -60px
}
.pkgG2.n162 {
    background-position: -120px -60px
}
.pkgG2.n163 {
    background-position: -180px -60px
}
.pkgG2.n164 {
    background-position: -240px -60px
}
.pkgG2.n165 {
    background-position: -300px -60px
}
.pkgG2.n166 {
    background-position: -360px -60px
}
.pkgG2.n167 {
    background-position: -420px -60px
}
.pkgG2.n168 {
    background-position: 0 -120px
}
.pkgG2.n169 {
    background-position: -60px -120px
}
.pkgG2.n170 {
    background-position: -120px -120px
}
.pkgG2.n171 {
    background-position: -180px -120px
}
.pkgG2.n172 {
    background-position: -240px -120px
}
.pkgG2.n173 {
    background-position: -300px -120px
}
.pkgG2.n174 {
    background-position: -360px -120px
}
.pkgG2.n175 {
    background-position: -420px -120px
}
.pkgG2.n176 {
    background-position: 0 -180px
}
.pkgG2.n177 {
    background-position: -60px -180px
}
.pkgG2.n178 {
    background-position: -120px -180px
}
.pkgG2.n179 {
    background-position: -180px -180px
}
.pkgG2.n180 {
    background-position: -240px -180px
}
.pkgG2.n181 {
    background-position: -300px -180px
}
.pkgG2.n182 {
    background-position: -360px -180px
}
.pkgG2.n183 {
    background-position: -420px -180px
}
.pkgG2.n184 {
    background-position: 0 -240px
}
.pkgG2.n185 {
    background-position: -60px -240px
}
.pkgG2.n186 {
    background-position: -120px -240px
}
.pkgG2.n187 {
    background-position: -180px -240px
}
.pkgG2.n188 {
    background-position: -240px -240px
}
.pkgG2.n189 {
    background-position: -300px -240px
}
.pkgG2.n190 {
    background-position: -360px -240px
}
.pkgG2.n191 {
    background-position: -420px -240px
}
.pkgG2.n192 {
    background-position: 0 -300px
}
.pkgG2.n193 {
    background-position: -60px -300px
}
.pkgG2.n194 {
    background-position: -120px -300px
}
.pkgG2.n195 {
    background-position: -180px -300px
}
.pkgG2.n196 {
    background-position: -240px -300px
}
.pkgG2.n197 {
    background-position: -300px -300px
}
.pkgG2.n198 {
    background-position: -360px -300px
}
.pkgG2.n199 {
    background-position: -420px -300px
}
.pkgG2.n200 {
    background-position: 0 -360px
}
.pkgG2.n201 {
    background-position: -60px -360px
}
.pkgG2.n202 {
    background-position: -120px -360px
}
.pkgG2.n203 {
    background-position: -180px -360px
}
.pkgG2.n204 {
    background-position: -240px -360px
}
.pkgG2.n205 {
    background-position: -300px -360px
}
.pkgG2.n206 {
    background-position: -360px -360px
}
.pkgG2.n207 {
    background-position: -420px -360px
}
.pkgG2.n208 {
    background-position: 0 -420px
}
.pkgG2.n209 {
    background-position: -60px -420px
}
.pkgG2.n210 {
    background-position: -120px -420px
}
.pkgG2.n211 {
    background-position: -180px -420px
}
.pkgG2.n212 {
    background-position: -240px -420px
}
.pkgG2.n213 {
    background-position: -300px -420px
}
.pkgG2.n214 {
    background-position: -360px -420px
}
.pkgG2.n215 {
    background-position: -420px -420px
}
.pkgG2.n216 {
    background-position: 0 -480px
}
.pkgG2.n217 {
    background-position: -60px -480px
}
.pkgG2.n218 {
    background-position: -120px -480px
}
.pkgG2.n219 {
    background-position: -180px -480px
}
.pkgG2.n220 {
    background-position: -240px -480px
}
.pkgG2.n221 {
    background-position: -300px -480px
}
.pkgG2.n222 {
    background-position: -360px -480px
}
.pkgG2.n223 {
    background-position: -420px -480px
}
.pkgG2.n224 {
    background-position: 0 -540px
}
.pkgG2.n225 {
    background-position: -60px -540px
}
.pkgG2.n226 {
    background-position: -120px -540px
}
.pkgG2.n227 {
    background-position: -180px -540px
}
.pkgG2.n228 {
    background-position: -240px -540px
}
.pkgG2.n229 {
    background-position: -300px -540px
}
.pkgG2.n230 {
    background-position: -360px -540px
}
.pkgG2.n231 {
    background-position: -420px -540px
}
.pkgG2.n232 {
    background-position: 0 -300px
}
.pkgG2.n233 {
    background-position: -60px -300px
}
.pkgG2.n234 {
    background-position: -120px -300px
}
.pkgG2.n235 {
    background-position: -180px -300px
}
.pkgG2.n236 {
    background-position: -240px -300px
}
.pkgG2.n237 {
    background-position: -300px -300px
}
.pkgG2.n238 {
    background-position: -360px -300px
}
.pkgG2.n239 {
    background-position: -420px -300px
}
.pkgG2.n240 {
    background-position: 0 -660px
}
.pkgG2.n241 {
    background-position: -60px -660px
}
.pkgG2.n242 {
    background-position: -120px -660px
}
.pkgG2.n243 {
    background-position: -180px -660px
}
.pkgG2.n244 {
    background-position: -240px -660px
}
.pkgG2.n245 {
    background-position: -300px -660px
}
.pkgG2.n246 {
    background-position: -360px -660px
}
.pkgG2.n247 {
    background-position: -420px -660px
}
.pkgG2.n248 {
    background-position: 0 -720px
}
.pkgG2.n249 {
    background-position: -60px -720px
}
.pkgG2.n250 {
    background-position: -120px -720px
}
.pkgG2.n251 {
    background-position: -180px -720px
}
.pkgG3.n252 {
    background-position: 0 0
}
.pkgG3.n253 {
    background-position: -60px 0
}
.pkgG3.n254 {
    background-position: -120px 0
}
.pkgG3.n255 {
    background-position: -180px 0
}
.pkgG3.n256 {
    background-position: -240px 0
}
.pkgG3.n257 {
    background-position: -300px 0
}
.pkgG3.n258 {
    background-position: -360px 0
}
.pkgG3.n259 {
    background-position: -420px 0
}
.pkgG3.n260 {
    background-position: 0 -60px
}
.pkgG3.n261 {
    background-position: -60px -60px
}
.pkgG3.n262 {
    background-position: -120px -60px
}
.pkgG3.n263 {
    background-position: -180px -60px
}
.pkgG3.n264 {
    background-position: -240px -60px
}
.pkgG3.n265 {
    background-position: -300px -60px
}
.pkgG3.n266 {
    background-position: -360px -60px
}
.pkgG3.n267 {
    background-position: -420px -60px
}
.pkgG3.n268 {
    background-position: 0 -120px
}
.pkgG3.n269 {
    background-position: -60px -120px
}
.pkgG3.n270 {
    background-position: -120px -120px
}
.pkgG3.n271 {
    background-position: -180px -120px
}
.pkgG3.n272 {
    background-position: -240px -120px
}
.pkgG3.n273 {
    background-position: -300px -120px
}
.pkgG3.n274 {
    background-position: -360px -120px
}
.pkgG3.n275 {
    background-position: -420px -120px
}
.pkgG3.n276 {
    background-position: 0 -180px
}
.pkgG3.n277 {
    background-position: -60px -180px
}
.pkgG3.n278 {
    background-position: -120px -180px
}
.pkgG3.n279 {
    background-position: -180px -180px
}
.pkgG3.n280 {
    background-position: -240px -180px
}
.pkgG3.n281 {
    background-position: -300px -180px
}
.pkgG3.n282 {
    background-position: -360px -180px
}
.pkgG3.n283 {
    background-position: -420px -180px
}
.pkgG3.n284 {
    background-position: 0 -240px
}
.pkgG3.n285 {
    background-position: -60px -240px
}
.pkgG3.n286 {
    background-position: -120px -240px
}
.pkgG3.n287 {
    background-position: -180px -240px
}
.pkgG3.n288 {
    background-position: -240px -240px
}
.pkgG3.n289 {
    background-position: -300px -240px
}
.pkgG3.n290 {
    background-position: -360px -240px
}
.pkgG3.n291 {
    background-position: -420px -240px
}
.pkgG3.n292 {
    background-position: 0 -300px
}
.pkgG3.n293 {
    background-position: -60px -300px
}
.pkgG3.n294 {
    background-position: -120px -300px
}
.pkgG3.n295 {
    background-position: -180px -300px
}
.pkgG3.n296 {
    background-position: -240px -300px
}
.pkgG3.n297 {
    background-position: -300px -300px
}
.pkgG3.n298 {
    background-position: -360px -300px
}
.pkgG3.n299 {
    background-position: -420px -300px
}
.pkgG3.n300 {
    background-position: 0 -360px
}
.pkgG3.n301 {
    background-position: -60px -360px
}
.pkgG3.n302 {
    background-position: -120px -360px
}
.pkgG3.n303 {
    background-position: -180px -360px
}
.pkgG3.n304 {
    background-position: -240px -360px
}
.pkgG3.n305 {
    background-position: -300px -360px
}
.pkgG3.n306 {
    background-position: -360px -360px
}
.pkgG3.n307 {
    background-position: -420px -360px
}
.pkgG3.n308 {
    background-position: 0 -420px
}
.pkgG3.n309 {
    background-position: -60px -420px
}
.pkgG3.n310 {
    background-position: -120px -420px
}
.pkgG3.n311 {
    background-position: -180px -420px
}
.pkgG3.n312 {
    background-position: -240px -420px
}
.pkgG3.n313 {
    background-position: -300px -420px
}
.pkgG3.n314 {
    background-position: -360px -420px
}
.pkgG3.n315 {
    background-position: -420px -420px
}
.pkgG3.n316 {
    background-position: 0 -480px
}
.pkgG3.n317 {
    background-position: -60px -480px
}
.pkgG3.n318 {
    background-position: -120px -480px
}
.pkgG3.n319 {
    background-position: -180px -480px
}
.pkgG3.n320 {
    background-position: -240px -480px
}
.pkgG3.n321 {
    background-position: -300px -480px
}
.pkgG3.n322 {
    background-position: -360px -480px
}
.pkgG3.n323 {
    background-position: -420px -480px
}
.pkgG3.n324 {
    background-position: 0 -540px
}
.pkgG3.n325 {
    background-position: -60px -540px
}
.pkgG3.n326 {
    background-position: -120px -540px
}
.pkgG3.n327 {
    background-position: -180px -540px
}
.pkgG3.n328 {
    background-position: -240px -540px
}
.pkgG3.n329 {
    background-position: -300px -540px
}
.pkgG3.n330 {
    background-position: -360px -540px
}
.pkgG3.n331 {
    background-position: -420px -540px
}
.pkgG3.n332 {
    background-position: 0 -300px
}
.pkgG3.n333 {
    background-position: -60px -300px
}
.pkgG3.n334 {
    background-position: -120px -300px
}
.pkgG3.n335 {
    background-position: -180px -300px
}
.pkgG3.n336 {
    background-position: -240px -300px
}
.pkgG3.n337 {
    background-position: -300px -300px
}
.pkgG3.n338 {
    background-position: -360px -300px
}
.pkgG3.n339 {
    background-position: -420px -300px
}
.pkgG3.n340 {
    background-position: 0 -660px
}
.pkgG3.n341 {
    background-position: -60px -660px
}
.pkgG3.n342 {
    background-position: -120px -660px
}
.pkgG3.n343 {
    background-position: -180px -660px
}
.pkgG3.n344 {
    background-position: -240px -660px
}
.pkgG3.n345 {
    background-position: -300px -660px
}
.pkgG3.n346 {
    background-position: -360px -660px
}
.pkgG3.n347 {
    background-position: -420px -660px
}
.pkgG3.n348 {
    background-position: 0 -720px
}
.pkgG3.n349 {
    background-position: -60px -720px
}
.pkgG3.n350 {
    background-position: -120px -720px
}
.pkgG3.n351 {
    background-position: -180px -720px
}
.pkgG3.n352 {
    background-position: -240px -720px
}
.pkgG3.n353 {
    background-position: -300px -720px
}
.pkgG3.n354 {
    background-position: -360px -720px
}
.pkgG3.n355 {
    background-position: -420px -720px
}
.pkgG3.n356 {
    background-position: 0 -780px
}
.pkgG3.n357 {
    background-position: -60px -780px
}
.pkgG3.n358 {
    background-position: -120px -780px
}
.pkgG3.n359 {
    background-position: -180px -780px
}
.pkgG3.n360 {
    background-position: -240px -780px
}
.pkgG3.n361 {
    background-position: -300px -780px
}
.pkgG3.n362 {
    background-position: -360px -780px
}
.pkgG3.n363 {
    background-position: -420px -780px
}
.pkgG3.n364 {
    background-position: 0 -840px
}
.pkgG3.n365 {
    background-position: -60px -840px
}
.pkgG3.n366 {
    background-position: -120px -840px
}
.pkgG3.n367 {
    background-position: -180px -840px
}
.pkgG3.n368 {
    background-position: -240px -840px
}
.pkgG3.n369 {
    background-position: -300px -840px
}
.pkgG3.n370 {
    background-position: -360px -840px
}
.pkgG3.n371 {
    background-position: -420px -840px
}
.pkgG3.n372 {
    background-position: 0 -900px
}
.pkgG3.n373 {
    background-position: -60px -900px
}
.pkgG3.n374 {
    background-position: -120px -900px
}
.pkgG3.n375 {
    background-position: -180px -900px
}
.pkgG3.n376 {
    background-position: -240px -900px
}
.pkgG3.n377 {
    background-position: -300px -900px
}
.pkgG3.n378 {
    background-position: -360px -900px
}
.pkgG3.n379 {
    background-position: -420px -900px
}
.pkgG3.n380 {
    background-position: 0 -960px
}
.pkgG3.n381 {
    background-position: -60px -960px
}
.pkgG3.n382 {
    background-position: -120px -960px
}
.pkgG3.n383 {
    background-position: -180px -960px
}
.pkgG3.n384 {
    background-position: -240px -960px
}
.pkgG3.n385 {
    background-position: -300px -960px
}
.pkgG3.n386, .n386-normal {
    background-position: -360px -960px
}
.pkgG3.n386-attack {
    background-position: -420px -960px
}
.pkgG3.n386-defense {
    background-position: 0 -1020px
}
.pkgG3.n386-speed {
    background-position: -60px -1020px
}
.pkgG4.n387 {
    background-position: 0 0
}
.pkgG4.n388 {
    background-position: -60px 0
}
.pkgG4.n389 {
    background-position: -120px 0
}
.pkgG4.n390 {
    background-position: -180px 0
}
.pkgG4.n391 {
    background-position: -240px 0
}
.pkgG4.n392 {
    background-position: -300px 0
}
.pkgG4.n393 {
    background-position: -360px 0
}
.pkgG4.n394 {
    background-position: -420px 0
}
.pkgG4.n395 {
    background-position: 0 -60px
}
.pkgG4.n396 {
    background-position: -60px -60px
}
.pkgG4.n397 {
    background-position: -120px -60px
}
.pkgG4.n398 {
    background-position: -180px -60px
}
.pkgG4.n399 {
    background-position: -240px -60px
}
.pkgG4.n400 {
    background-position: -300px -60px
}
.pkgG4.n401 {
    background-position: -360px -60px
}
.pkgG4.n402 {
    background-position: -420px -60px
}
.pkgG4.n403 {
    background-position: 0 -120px
}
.pkgG4.n404 {
    background-position: -60px -120px
}
.pkgG4.n405 {
    background-position: -120px -120px
}
.pkgG4.n406 {
    background-position: -180px -120px
}
.pkgG4.n407 {
    background-position: -240px -120px
}
.pkgG4.n408 {
    background-position: -300px -120px
}
.pkgG4.n409 {
    background-position: -360px -120px
}
.pkgG4.n410 {
    background-position: -420px -120px
}
.pkgG4.n411 {
    background-position: 0 -180px
}
.pkgG4.n412, .n412-plant {
    background-position: -60px -180px
}
.pkgG4.n412-sandy {
    background-position: -120px -180px
}
.pkgG4.n412-trash {
    background-position: -180px -180px
}
.pkgG4.n413, .n413-plant {
    background-position: -240px -180px
}
.pkgG4.n413-sandy {
    background-position: -300px -180px
}
.pkgG4.n413-trash {
    background-position: -360px -180px
}
.pkgG4.n414 {
    background-position: -420px -180px
}
.pkgG4.n415 {
    background-position: 0 -240px
}
.pkgG4.n416 {
    background-position: -60px -240px
}
.pkgG4.n417 {
    background-position: -120px -240px
}
.pkgG4.n418 {
    background-position: -180px -240px
}
.pkgG4.n419 {
    background-position: -240px -240px
}
.pkgG4.n420 {
    background-position: -300px -240px
}
.pkgG4.n421 {
    background-position: -360px -240px
}
.pkgG4.n422 {
    background-position: -420px -240px
}
.pkgG4.n423 {
    background-position: 0 -300px
}
.pkgG4.n424 {
    background-position: -60px -300px
}
.pkgG4.n425 {
    background-position: -120px -300px
}
.pkgG4.n426 {
    background-position: -180px -300px
}
.pkgG4.n427 {
    background-position: -240px -300px
}
.pkgG4.n428 {
    background-position: -300px -300px
}
.pkgG4.n429 {
    background-position: -360px -300px
}
.pkgG4.n430 {
    background-position: -420px -300px
}
.pkgG4.n431 {
    background-position: 0 -360px
}
.pkgG4.n432 {
    background-position: -60px -360px
}
.pkgG4.n433 {
    background-position: -120px -360px
}
.pkgG4.n434 {
    background-position: -180px -360px
}
.pkgG4.n435 {
    background-position: -240px -360px
}
.pkgG4.n436 {
    background-position: -300px -360px
}
.pkgG4.n437 {
    background-position: -360px -360px
}
.pkgG4.n438 {
    background-position: -420px -360px
}
.pkgG4.n439 {
    background-position: 0 -420px
}
.pkgG4.n440 {
    background-position: -60px -420px
}
.pkgG4.n441 {
    background-position: -120px -420px
}
.pkgG4.n442 {
    background-position: -180px -420px
}
.pkgG4.n443 {
    background-position: -240px -420px
}
.pkgG4.n444 {
    background-position: -300px -420px
}
.pkgG4.n445 {
    background-position: -360px -420px
}
.pkgG4.n446 {
    background-position: -420px -420px
}
.pkgG4.n447 {
    background-position: 0 -480px
}
.pkgG4.n448 {
    background-position: -60px -480px
}
.pkgG4.n449 {
    background-position: -120px -480px
}
.pkgG4.n450 {
    background-position: -180px -480px
}
.pkgG4.n451 {
    background-position: -240px -480px
}
.pkgG4.n452 {
    background-position: -300px -480px
}
.pkgG4.n453 {
    background-position: -360px -480px
}
.pkgG4.n454 {
    background-position: -420px -480px
}
.pkgG4.n455 {
    background-position: 0 -540px
}
.pkgG4.n456 {
    background-position: -60px -540px
}
.pkgG4.n457 {
    background-position: -120px -540px
}
.pkgG4.n458 {
    background-position: -180px -540px
}
.pkgG4.n459 {
    background-position: -240px -540px
}
.pkgG4.n460 {
    background-position: -300px -540px
}
.pkgG4.n461 {
    background-position: -360px -540px
}
.pkgG4.n462 {
    background-position: -420px -540px
}
.pkgG4.n463 {
    background-position: 0 -300px
}
.pkgG4.n464 {
    background-position: -60px -300px
}
.pkgG4.n465 {
    background-position: -120px -300px
}
.pkgG4.n466 {
    background-position: -180px -300px
}
.pkgG4.n467 {
    background-position: -240px -300px
}
.pkgG4.n468 {
    background-position: -300px -300px
}
.pkgG4.n469 {
    background-position: -360px -300px
}
.pkgG4.n470 {
    background-position: -420px -300px
}
.pkgG4.n471 {
    background-position: 0 -660px
}
.pkgG4.n472 {
    background-position: -60px -660px
}
.pkgG4.n473 {
    background-position: -120px -660px
}
.pkgG4.n474 {
    background-position: -180px -660px
}
.pkgG4.n475 {
    background-position: -240px -660px
}
.pkgG4.n476 {
    background-position: -300px -660px
}
.pkgG4.n477 {
    background-position: -360px -660px
}
.pkgG4.n478 {
    background-position: -420px -660px
}
.pkgG4.n479, .n479-normal {
    background-position: 0 -720px
}
.pkgG4.n479-fan {
    background-position: -60px -720px
}
.pkgG4.n479-frost {
    background-position: -120px -720px
}
.pkgG4.n479-heat {
    background-position: -180px -720px
}
.pkgG4.n479-mow {
    background-position: -240px -720px
}
.pkgG4.n479-wash {
    background-position: -300px -720px
}
.pkgG4.n240 {
    background-position: -360px -720px
}
.pkgG4.n481 {
    background-position: -420px -720px
}
.pkgG4.n482 {
    background-position: 0 -780px
}
.pkgG4.n483 {
    background-position: -60px -780px
}
.pkgG4.n484 {
    background-position: -120px -780px
}
.pkgG4.n485 {
    background-position: -180px -780px
}
.pkgG4.n486 {
    background-position: -240px -780px
}
.pkgG4.n487, .n487-altered {
    background-position: -300px -780px
}
.pkgG4.n487-origin {
    background-position: -360px -780px
}
.pkgG4.n488 {
    background-position: -420px -780px
}
.pkgG4.n489 {
    background-position: 0 -840px
}
.pkgG4.n490 {
    background-position: -60px -840px
}
.pkgG4.n491 {
    background-position: -120px -840px
}
.pkgG4.n492, .n492-land {
    background-position: -180px -840px
}
.pkgG4.n492-sky {
    background-position: -240px -840px
}
.pkgG4.n493 {
    background-position: -300px -840px
}
.pkgG5.n494 {
    background-position: 0 0
}
.pkgG5.n495 {
    background-position: -60px 0
}
.pkgG5.n496 {
    background-position: -120px 0
}
.pkgG5.n497 {
    background-position: -180px 0
}
.pkgG5.n498 {
    background-position: -240px 0
}
.pkgG5.n499 {
    background-position: -300px 0
}
.pkgG5.n500 {
    background-position: -360px 0
}
.pkgG5.n501 {
    background-position: -420px 0
}
.pkgG5.n502 {
    background-position: 0 -60px
}
.pkgG5.n503 {
    background-position: -60px -60px
}
.pkgG5.n504 {
    background-position: -120px -60px
}
.pkgG5.n505 {
    background-position: -180px -60px
}
.pkgG5.n506 {
    background-position: -240px -60px
}
.pkgG5.n507 {
    background-position: -300px -60px
}
.pkgG5.n508 {
    background-position: -360px -60px
}
.pkgG5.n509 {
    background-position: -420px -60px
}
.pkgG5.n510 {
    background-position: 0 -120px
}
.pkgG5.n511 {
    background-position: -60px -120px
}
.pkgG5.n512 {
    background-position: -120px -120px
}
.pkgG5.n513 {
    background-position: -180px -120px
}
.pkgG5.n514 {
    background-position: -240px -120px
}
.pkgG5.n515 {
    background-position: -300px -120px
}
.pkgG5.n516 {
    background-position: -360px -120px
}
.pkgG5.n517 {
    background-position: -420px -120px
}
.pkgG5.n518 {
    background-position: 0 -180px
}
.pkgG5.n519 {
    background-position: -60px -180px
}
.pkgG5.n520 {
    background-position: -120px -180px
}
.pkgG5.n521 {
    background-position: -180px -180px
}
.pkgG5.n522 {
    background-position: -240px -180px
}
.pkgG5.n523 {
    background-position: -300px -180px
}
.pkgG5.n524 {
    background-position: -360px -180px
}
.pkgG5.n525 {
    background-position: -420px -180px
}
.pkgG5.n526 {
    background-position: 0 -240px
}
.pkgG5.n527 {
    background-position: -60px -240px
}
.pkgG5.n528 {
    background-position: -120px -240px
}
.pkgG5.n529 {
    background-position: -180px -240px
}
.pkgG5.n530 {
    background-position: -240px -240px
}
.pkgG5.n531 {
    background-position: -300px -240px
}
.pkgG5.n532 {
    background-position: -360px -240px
}
.pkgG5.n533 {
    background-position: -420px -240px
}
.pkgG5.n534 {
    background-position: 0 -300px
}
.pkgG5.n535 {
    background-position: -60px -300px
}
.pkgG5.n536 {
    background-position: -120px -300px
}
.pkgG5.n537 {
    background-position: -180px -300px
}
.pkgG5.n538 {
    background-position: -240px -300px
}
.pkgG5.n539 {
    background-position: -300px -300px
}
.pkgG5.n540 {
    background-position: -360px -300px
}
.pkgG5.n541 {
    background-position: -420px -300px
}
.pkgG5.n542 {
    background-position: 0 -360px
}
.pkgG5.n543 {
    background-position: -60px -360px
}
.pkgG5.n544 {
    background-position: -120px -360px
}
.pkgG5.n545 {
    background-position: -180px -360px
}
.pkgG5.n546 {
    background-position: -240px -360px
}
.pkgG5.n547 {
    background-position: -300px -360px
}
.pkgG5.n548 {
    background-position: -360px -360px
}
.pkgG5.n549 {
    background-position: -420px -360px
}
.pkgG5.n550, .n550-red {
    background-position: 0 -420px
}
.pkgG5.n550-blue {
    background-position: -60px -420px
}
.pkgG5.n551 {
    background-position: -120px -420px
}
.pkgG5.n552 {
    background-position: -180px -420px
}
.pkgG5.n553 {
    background-position: -240px -420px
}
.pkgG5.n554 {
    background-position: -300px -420px
}
.pkgG5.n555, .n555-standard {
    background-position: -360px -420px
}
.pkgG5.n555-zen {
    background-position: -420px -420px
}
.pkgG5.n556 {
    background-position: 0 -480px
}
.pkgG5.n557 {
    background-position: -60px -480px
}
.pkgG5.n558 {
    background-position: -120px -480px
}
.pkgG5.n559 {
    background-position: -180px -480px
}
.pkgG5.n560 {
    background-position: -240px -480px
}
.pkgG5.n561 {
    background-position: -300px -480px
}
.pkgG5.n562 {
    background-position: -360px -480px
}
.pkgG5.n563 {
    background-position: -420px -480px
}
.pkgG5.n564 {
    background-position: 0 -540px
}
.pkgG5.n565 {
    background-position: -60px -540px
}
.pkgG5.n566 {
    background-position: -120px -540px
}
.pkgG5.n567 {
    background-position: -180px -540px
}
.pkgG5.n568 {
    background-position: -240px -540px
}
.pkgG5.n569 {
    background-position: -300px -540px
}
.pkgG5.n570 {
    background-position: -360px -540px
}
.pkgG5.n571 {
    background-position: -420px -540px
}
.pkgG5.n572 {
    background-position: 0 -300px
}
.pkgG5.n573 {
    background-position: -60px -300px
}
.pkgG5.n574 {
    background-position: -120px -300px
}
.pkgG5.n575 {
    background-position: -180px -300px
}
.pkgG5.n576 {
    background-position: -240px -300px
}
.pkgG5.n577 {
    background-position: -300px -300px
}
.pkgG5.n578 {
    background-position: -360px -300px
}
.pkgG5.n579 {
    background-position: -420px -300px
}
.pkgG5.n580 {
    background-position: 0 -660px
}
.pkgG5.n581 {
    background-position: -60px -660px
}
.pkgG5.n582 {
    background-position: -120px -660px
}
.pkgG5.n583 {
    background-position: -180px -660px
}
.pkgG5.n584 {
    background-position: -240px -660px
}
.pkgG5.n585 {
    background-position: -300px -660px
}
.pkgG5.n586 {
    background-position: -360px -660px
}
.pkgG5.n587 {
    background-position: -420px -660px
}
.pkgG5.n588 {
    background-position: 0 -720px
}
.pkgG5.n589 {
    background-position: -60px -720px
}
.pkgG5.n590 {
    background-position: -120px -720px
}
.pkgG5.n591 {
    background-position: -180px -720px
}
.pkgG5.n592 {
    background-position: -240px -720px
}
.pkgG5.n593 {
    background-position: -300px -720px
}
.pkgG5.n594 {
    background-position: -360px -720px
}
.pkgG5.n595 {
    background-position: -420px -720px
}
.pkgG5.n596 {
    background-position: 0 -780px
}
.pkgG5.n597 {
    background-position: -60px -780px
}
.pkgG5.n598 {
    background-position: -120px -780px
}
.pkgG5.n599 {
    background-position: -180px -780px
}
.pkgG5.n300 {
    background-position: -240px -780px
}
.pkgG5.n601 {
    background-position: -300px -780px
}
.pkgG5.n602 {
    background-position: -360px -780px
}
.pkgG5.n603 {
    background-position: -420px -780px
}
.pkgG5.n604 {
    background-position: 0 -840px
}
.pkgG5.n605 {
    background-position: -60px -840px
}
.pkgG5.n606 {
    background-position: -120px -840px
}
.pkgG5.n607 {
    background-position: -180px -840px
}
.pkgG5.n608 {
    background-position: -240px -840px
}
.pkgG5.n609 {
    background-position: -300px -840px
}
.pkgG5.n610 {
    background-position: -360px -840px
}
.pkgG5.n611 {
    background-position: -420px -840px
}
.pkgG5.n612 {
    background-position: 0 -900px
}
.pkgG5.n613 {
    background-position: -60px -900px
}
.pkgG5.n614 {
    background-position: -120px -900px
}
.pkgG5.n615 {
    background-position: -180px -900px
}
.pkgG5.n616 {
    background-position: -240px -900px
}
.pkgG5.n617 {
    background-position: -300px -900px
}
.pkgG5.n618 {
    background-position: -360px -900px
}
.pkgG5.n619 {
    background-position: -420px -900px
}
.pkgG5.n620 {
    background-position: 0 -960px
}
.pkgG5.n621 {
    background-position: -60px -960px
}
.pkgG5.n622 {
    background-position: -120px -960px
}
.pkgG5.n623 {
    background-position: -180px -960px
}
.pkgG5.n624 {
    background-position: -240px -960px
}
.pkgG5.n625 {
    background-position: -300px -960px
}
.pkgG5.n626 {
    background-position: -360px -960px
}
.pkgG5.n627 {
    background-position: -420px -960px
}
.pkgG5.n628 {
    background-position: 0 -1020px
}
.pkgG5.n629 {
    background-position: -60px -1020px
}
.pkgG5.n630 {
    background-position: -120px -1020px
}
.pkgG5.n631 {
    background-position: -180px -1020px
}
.pkgG5.n632 {
    background-position: -240px -1020px
}
.pkgG5.n633 {
    background-position: -300px -1020px
}
.pkgG5.n634 {
    background-position: -360px -1020px
}
.pkgG5.n635 {
    background-position: -420px -1020px
}
.pkgG5.n636 {
    background-position: 0 -1080px
}
.pkgG5.n637 {
    background-position: -60px -1080px
}
.pkgG5.n638 {
    background-position: -120px -1080px
}
.pkgG5.n639 {
    background-position: -180px -1080px
}
.pkgG5.n640 {
    background-position: -240px -1080px
}
.pkgG5.n641, .n641-incarnate {
    background-position: -300px -1080px
}
.pkgG5.n641-therian {
    background-position: -360px -1080px
}
.pkgG5.n642, .n642-incarnate {
    background-position: -420px -1080px
}
.pkgG5.n642-therian {
    background-position: 0 -2280px
}
.pkgG5.n643 {
    background-position: -60px -1140px
}
.pkgG5.n644 {
    background-position: -120px -1140px
}
.pkgG5.n645, .n645-incarnate {
    background-position: -180px -1140px
}
.pkgG5.n645-therian {
    background-position: -240px -1140px
}
.pkgG5.n646, .n646-normal {
    background-position: -300px -1140px
}
.pkgG5.n646-black {
    background-position: -360px -1140px
}
.pkgG5.n646-white {
    background-position: -420px -1140px
}
.pkgG5.n647, .n647-ordinary {
    background-position: 0 -1200px
}
.pkgG5.n647-resolute {
    background-position: -60px -1200px
}
.pkgG5.n648, .n648-aria {
    background-position: -120px -1200px
}
.pkgG5.n648-pirouette {
    background-position: -180px -1200px
}
.pkgG5.n649 {
    background-position: -240px -1200px
}
.pkgG6.n3-mega {
    background-position: 0 0
}
.pkgG6.n6-mega-x {
    background-position: -60px 0
}
.pkgG6.n6-mega-y {
    background-position: -120px 0
}
.pkgG6.n9-mega {
    background-position: -180px 0
}
.pkgG6.n15-mega {
    background-position: -240px 0
}
.pkgG6.n18-mega {
    background-position: -300px 0
}
.pkgG6.n65-mega {
    background-position: -360px 0
}
.pkgG6.n80-mega {
    background-position: -420px 0
}
.pkgG6.n94-mega {
    background-position: 0 -60px
}
.pkgG6.n115-mega {
    background-position: -60px -60px
}
.pkgG6.n127-mega {
    background-position: -120px -60px
}
.pkgG6.n180-mega {
    background-position: -180px -60px
}
.pkgG6.n142-mega {
    background-position: -240px -60px
}
.pkgG6.n150-mega-x {
    background-position: -300px -60px
}
.pkgG6.n150-mega-y {
    background-position: -360px -60px
}
.pkgG6.n181-mega {
    background-position: -420px -60px
}
.pkgG6.n208-mega {
    background-position: 0 -120px
}
.pkgG6.n212-mega {
    background-position: -60px -120px
}
.pkgG6.n214-mega {
    background-position: -120px -120px
}
.pkgG6.n229-mega {
    background-position: -180px -120px
}
.pkgG6.n248-mega {
    background-position: -240px -120px
}
.pkgG6.n254-mega {
    background-position: -300px -120px
}
.pkgG6.n257-mega {
    background-position: -360px -120px
}
.pkgG6.n260-mega {
    background-position: -420px -120px
}
.pkgG6.n282-mega {
    background-position: 0 -180px
}
.pkgG6.n302-mega {
    background-position: -60px -180px
}
.pkgG6.n303-mega {
    background-position: -120px -180px
}
.pkgG6.n306-mega {
    background-position: -180px -180px
}
.pkgG6.n308-mega {
    background-position: -240px -180px
}
.pkgG6.n310-mega {
    background-position: -300px -180px
}
.pkgG6.n319-mega {
    background-position: -360px -180px
}
.pkgG6.n323-mega {
    background-position: -420px -180px
}
.pkgG6.n334-mega {
    background-position: 0 -240px
}
.pkgG6.n354-mega {
    background-position: -60px -240px
}
.pkgG6.n359-mega {
    background-position: -120px -240px
}
.pkgG6.n362-mega {
    background-position: -180px -240px
}
.pkgG6.n373-mega {
    background-position: -240px -240px
}
.pkgG6.n376-mega {
    background-position: -300px -240px
}
.pkgG6.n380-mega {
    background-position: -360px -240px
}
.pkgG6.n381-mega {
    background-position: -420px -240px
}
.pkgG6.n382-primal {
    background-position: 0 -300px
}
.pkgG6.n383-primal {
    background-position: -60px -300px
}
.pkgG6.n384-mega {
    background-position: -120px -300px
}
.pkgG6.n428-mega {
    background-position: -180px -300px
}
.pkgG6.n445-mega {
    background-position: -240px -300px
}
.pkgG6.n448-mega {
    background-position: -300px -300px
}
.pkgG6.n460-mega {
    background-position: -360px -300px
}
.pkgG6.n475-mega {
    background-position: -420px -300px
}
.pkgG6.n531-mega {
    background-position: 0 -360px
}
.pkgG6.n650 {
    background-position: -60px -360px
}
.pkgG6.n651 {
    background-position: -120px -360px
}
.pkgG6.n652 {
    background-position: -180px -360px
}
.pkgG6.n653 {
    background-position: -240px -360px
}
.pkgG6.n654 {
    background-position: -300px -360px
}
.pkgG6.n655 {
    background-position: -360px -360px
}
.pkgG6.n656 {
    background-position: -420px -360px
}
.pkgG6.n657 {
    background-position: 0 -420px
}
.pkgG6.n658 {
    background-position: -60px -420px
}
.pkgG6.n659 {
    background-position: -120px -420px
}
.pkgG6.n660 {
    background-position: -180px -420px
}
.pkgG6.n661 {
    background-position: -240px -420px
}
.pkgG6.n662 {
    background-position: -300px -420px
}
.pkgG6.n663 {
    background-position: -360px -420px
}
.pkgG6.n664 {
    background-position: -420px -420px
}
.pkgG6.n665 {
    background-position: 0 -480px
}
.pkgG6.n666 {
    background-position: -60px -480px
}
.pkgG6.n667 {
    background-position: -120px -480px
}
.pkgG6.n668 {
    background-position: -180px -480px
}
.pkgG6.n669 {
    background-position: -240px -480px
}
.pkgG6.n670 {
    background-position: -300px -480px
}
.pkgG6.n671 {
    background-position: -360px -480px
}
.pkgG6.n672 {
    background-position: -420px -480px
}
.pkgG6.n673 {
    background-position: 0 -540px
}
.pkgG6.n674 {
    background-position: -60px -540px
}
.pkgG6.n675 {
    background-position: -120px -540px
}
.pkgG6.n676 {
    background-position: -180px -540px
}
.pkgG6.n677 {
    background-position: -240px -540px
}
.pkgG6.n678, .n678-male {
    background-position: -300px -540px
}
.pkgG6.n678-female {
    background-position: -360px -540px
}
.pkgG6.n679 {
    background-position: -420px -540px
}
.pkgG6.n680 {
    background-position: 0 -600px
}
.pkgG6.n681, .n681-shield {
    background-position: -60px -600px
}
.pkgG6.n681-blade {
    background-position: -120px -600px
}
.pkgG6.n682 {
    background-position: -180px -600px
}
.pkgG6.n683 {
    background-position: -240px -600px
}
.pkgG6.n684 {
    background-position: -300px -600px
}
.pkgG6.n685 {
    background-position: -360px -600px
}
.pkgG6.n686 {
    background-position: -420px -600px
}
.pkgG6.n687 {
    background-position: 0 -660px
}
.pkgG6.n688 {
    background-position: -60px -660px
}
.pkgG6.n689 {
    background-position: -120px -660px
}
.pkgG6.n690 {
    background-position: -180px -660px
}
.pkgG6.n691 {
    background-position: -240px -660px
}
.pkgG6.n692 {
    background-position: -300px -660px
}
.pkgG6.n693 {
    background-position: -360px -660px
}
.pkgG6.n694 {
    background-position: -420px -660px
}
.pkgG6.n695 {
    background-position: 0 -720px
}
.pkgG6.n696 {
    background-position: -60px -720px
}
.pkgG6.n697 {
    background-position: -120px -720px
}
.pkgG6.n698 {
    background-position: -180px -720px
}
.pkgG6.n699 {
    background-position: -240px -720px
}
.pkgG6.n700 {
    background-position: -300px -720px
}
.pkgG6.n701 {
    background-position: -360px -720px
}
.pkgG6.n702 {
    background-position: -420px -720px
}
.pkgG6.n703 {
    background-position: 0 -780px
}
.pkgG6.n704 {
    background-position: -60px -780px
}
.pkgG6.n705 {
    background-position: -120px -780px
}
.pkgG6.n706 {
    background-position: -180px -780px
}
.pkgG6.n707 {
    background-position: -240px -780px
}
.pkgG6.n708 {
    background-position: -300px -780px
}
.pkgG6.n709 {
    background-position: -360px -780px
}
.pkgG6.n710, .n710-average {
    background-position: -420px -780px
}
.pkgG6.n710-large {
    background-position: 0 -840px
}
.pkgG6.n710-small {
    background-position: -60px -840px
}
.pkgG6.n710-super {
    background-position: -120px -840px
}
.pkgG6.n711, .n711-average {
    background-position: -180px -840px
}
.pkgG6.n711-large {
    background-position: -240px -840px
}
.pkgG6.n711-small {
    background-position: -300px -840px
}
.pkgG6.n711-super {
    background-position: -360px -840px
}
.pkgG6.n712 {
    background-position: -420px -840px
}
.pkgG6.n713 {
    background-position: 0 -900px
}
.pkgG6.n714 {
    background-position: -60px -900px
}
.pkgG6.n715 {
    background-position: -120px -900px
}
.pkgG6.n716 {
    background-position: -180px -900px
}
.pkgG6.n717 {
    background-position: -240px -900px
}
.pkgG6.n718 {
    background-position: -300px -900px
}
.pkgG6.n719 {
    background-position: -360px -900px
}
.pkgG6.n719-mega {
    background-position: -420px -900px
}
.pkgG6.n720, .n720-confined {
    background-position: 0 -960px
}
.pkgG6.n720-unbound {
    background-position: -60px -960px
}
.pkgG6.n721 {
    background-position: -120px -960px
}
