/* RESET */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
}

body.debug #pokedex,
body.debug #left-screen .inner,
body.debug #right-screen .inner {
    outline: dashed 1px #000;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
a.hoverline:hover {
    text-decoration: underline;
}

#pokedex {
    margin: 0 auto;
    width: 960px;
    height: 720px;

    background: url(../pokedex.png) center center no-repeat;
    background-size: 960px 720px;

    position: relative;
}

#left-screen {
    position: absolute;

    width: 386px;
    height: 392px;
    left: 44px;
    top: 188px;

}

#right-screen {
    position: absolute;

    width: 349px;
    height: 437px;
    right: 54px;
    top: 194px;

    font-family: 'VT323', monospace;
    color: #375c24;
    font-size: 18px;

}

#left-screen .inner,
#right-screen .inner {
    position: absolute;
    overflow-y: scroll;

    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;



    transition: opacity 1s;
}

.inner {
    opacity: 0;
}

#btn-back {
    display: block;
    float: right;
    position: relative;
    z-index: 9;
    margin-right: 5px;
    font-size: 10px;

    background: #f00;
    color: #fff;
    padding: 4px 10px;
}


.pkg {
    width: 60px;
    height: 60px;
    max-width: none;
    vertical-align: bottom;
    /*transform: scale(.75);*/
}

.pkg {
    display: inline-block;
    background: transparent none no-repeat 60px 60px;


}

.pkgG1 {background-image: url("../img_poke_tn/montage-g1.jpg"); background-size: 480px 1140px;}
.pkgG2 {background-image: url("../img_poke_tn/montage-g2.jpg"); background-size: 480px 780px;}
.pkgG3 {background-image: url("../img_poke_tn/montage-g3.jpg"); background-size: 480px 1080px;}
.pkgG4 {background-image: url("../img_poke_tn/montage-g4.jpg"); background-size: 480px 900px;}
.pkgG5 {background-image: url("../img_poke_tn/montage-g5.jpg"); background-size: 480px 1260px;}
.pkgG6 {background-image: url("../img_poke_tn/montage-g6.jpg"); background-size: 480px 1020px;}

ul.pokelist li {
    display: block;

    height: 60px;
    line-height: 60px;




    transition: opacity .5s;
    opacity: 1;

    border-left: solid 4px #fff;
    border-right: solid 4px #fff;
}
ul.pokelist:hover li {
    opacity: .2;
}
ul.pokelist:hover li:hover {
    opacity: 1;
    border-color: #000;
}

ul.pokelist li a {
    box-sizing: border-box;
    display: block;
    height: 60px;
    line-height: 60px;

    cursor: pointer;
    padding: 0 5px;
}

.icon-holder {
    display: inline-block;
    height: 60px;
    width: 60px;
}

#pokemons_search {
    width: 80%;
    margin-bottom: 20px;

    /*font-family: 'VT323', monospace;
    color: #375c24;
    font-size: 20px;

    background: #6fbe45;*/


}

/* SPINNER */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ff0000 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ff0000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#spinner1:after {
    background: #ffffff;
}
#spinner2:after {
    background: #6fbe45;
}






/* POKEMON */
.thename {
    text-transform: capitalize;
}
.pokemon .main-img {
    display: block;
    width: 100%;
    max-width: 236px;
    height: auto;
    margin: 0 auto;
}
.pokemon .title {
    font-family: 'Baloo Thambi', cursive;
    font-size: 24px;

    text-align: center;
    text-transform: capitalize;

    margin-bottom: 20px;
}

.pokemon #right-screen .title {
    font-family: inherit;
    font-size: 22px;
    font-weight: bold;
}

h3 {
    margin-top: 20px;
    font-weight: bold;
    color: #6fbe45;
    background: #375c24;
    padding: 2px 0 2px 5px;
    font-size: 18px;
    text-transform: uppercase;
}
.data-row {
    border-bottom: solid 1px #375c24;
    padding: 5px 0;
}
.data-row small {
    font-size: 14px;
}
.data-row .label {
    display: inline-block;
    width: 50%;
    text-transform: uppercase;
    vertical-align: top;
}
.uniform {
    display: inline-block;
    width: 60px;
}
.pokemon .uniform {
    width: 34px;
}
.data-row .data {
    display: inline-block;
    width: 45%;
}

.types {
    text-align: center;
}
.type-label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    height: 18px;
    line-height: 18px;
}
.type {
    display: inline-block;
    width: 56px;
    line-height: 1;
    margin: 1px 3px;
    padding: 3px 0px;

    border: 1px solid #aaa;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    text-transform: uppercase;

    /*display: block;
    float: right;*/

}

.type-normal {
    background: #8a8a59;
    background-image: -webkit-linear-gradient(#a8a878, #8a8a59);
    background-image: linear-gradient(#a8a878, #8a8a59);
    border-color: #79794e
}
.type-fire {
    background: #f08030;
    background-image: -webkit-linear-gradient(#f08030, #dd6610);
    background-image: linear-gradient(#f08030, #dd6610);
    border-color: #b4530d
}
.type-water {
    background: #6890f0;
    background-image: -webkit-linear-gradient(#6890f0, #386ceb);
    background-image: linear-gradient(#6890f0, #386ceb);
    border-color: #1753e3
}
.type-electric {
    background: #f8d030;
    background-image: -webkit-linear-gradient(#f8d030, #f0c108);
    background-image: linear-gradient(#f8d030, #f0c108);
    border-color: #c19b07
}
.type-grass {
    background: #78c850;
    background-image: -webkit-linear-gradient(#78c850, #5ca935);
    background-image: linear-gradient(#78c850, #5ca935);
    border-color: #4a892b
}
.type-ice {
    background: #98d8d8;
    background-image: -webkit-linear-gradient(#98d8d8, #69c6c6);
    background-image: linear-gradient(#98d8d8, #69c6c6);
    border-color: #45b6b6
}
.type-fighting {
    background: #c03028;
    background-image: -webkit-linear-gradient(#c03028, #9d2721);
    background-image: linear-gradient(#c03028, #9d2721);
    border-color: #82211b
}
.type-poison {
    background: #a040a0;
    background-image: -webkit-linear-gradient(#a040a0, #803380);
    background-image: linear-gradient(#a040a0, #803380);
    border-color: #662966
}
.type-ground {
    background: #e0c068;
    background-image: -webkit-linear-gradient(#e0c068, #d4a82f);
    background-image: linear-gradient(#e0c068, #d4a82f);
    border-color: #aa8623
}
.type-flying {
    background: #a890f0;
    background-image: -webkit-linear-gradient(#a890f0, #9180c4);
    background-image: linear-gradient(#a890f0, #9180c4);
    border-color: #7762b6
}
.type-psychic {
    background: #f85888;
    background-image: -webkit-linear-gradient(#f85888, #f61c5d);
    background-image: linear-gradient(#f85888, #f61c5d);
    border-color: #d60945
}
.type-bug {
    background: #a8b820;
    background-image: -webkit-linear-gradient(#a8b820, #8d9a1b);
    background-image: linear-gradient(#a8b820, #8d9a1b);
    border-color: #616b13
}
.type-rock {
    background: #b8a038;
    background-image: -webkit-linear-gradient(#b8a038, #93802d);
    background-image: linear-gradient(#b8a038, #93802d);
    border-color: #746523
}
.type-ghost {
    background: #705898;
    background-image: -webkit-linear-gradient(#705898, #554374);
    background-image: linear-gradient(#705898, #554374);
    border-color: #413359
}
.type-dragon {
    background: #7038f8;
    background-image: -webkit-linear-gradient(#7038f8, #4c08ef);
    background-image: linear-gradient(#7038f8, #4c08ef);
    border-color: #3d07c0
}
.type-steel {
    background: #b8b8d0;
    background-image: -webkit-linear-gradient(#b8b8d0, #9797ba);
    background-image: linear-gradient(#b8b8d0, #9797ba);
    border-color: #7a7aa7
}
.type-dark {
    background: #705848;
    background-image: -webkit-linear-gradient(#705848, #513f34);
    background-image: linear-gradient(#705848, #513f34);
    border-color: #362a23
}
.type-fairy {
    background: #e898e8;
    background-image: -webkit-linear-gradient(#e898e8, #de6ede);
    background-image: linear-gradient(#e898e8, #de6ede);
    border-color: #d547d5
}
.type-curse {
    background: #68a090;
    background-image: -webkit-linear-gradient(#68a090, #4e7c6f);
    background-image: linear-gradient(#68a090, #4e7c6f);
    border-color: #41685d
}
