@media handheld, only screen and (max-width: 960px) {
    #pokedex {
        width: 800px;
        height: 600px;

        background-size: 800px 600px;
    }

    #left-screen {
        width: 321px;
        height: 326px;
        left: 37px;
        top: 157px;
    }

    #right-screen {
        width: 291px;
        height: 364px;
        right: 45px;
        top: 162px;
    }
}

@media handheld, only screen and (max-width: 800px) {
    #pokedex {
        width: 560px;
        height: 420px;

        background-size: 560px 420px;
    }

    #left-screen {
        width: 224px;
        height: 228px;
        left: 26px;
        top: 110px;
    }

    #right-screen {
        width: 203px;
        height: 253px;
        right: 32px;
        top: 114px;
    }
}

@media handheld, only screen and (max-width: 540px) {
    #pokedex {
        width: 480px;
        height: 1260px;

        background-image: url(pokedex-stacked.png);
        background-size: 480px 1260px;
    }

    #left-screen {
        width: 356px;
        height: 361px;
        left: 35px;
        top: 171px;
    }

    #right-screen {
        width: 321px;
        height: 402px;
        right: auto;
        top: auto;
        bottom: 69px;
        left: 34px;
    }
}
