/* RESET */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
}


body.debug #left-screen .inner,
body.debug #right-screen .inner {
    outline: dashed 1px #000;
}

#pokedex {
    margin: 0 auto;
    width: 960px;
    height: 720px;

    background: url(pokedex.png) center center no-repeat;
    background-size: 960px 720px;

    position: relative;
}

#left-screen {
    position: absolute;

    width: 386px;
    height: 392px;
    left: 44px;
    top: 188px;

}

#right-screen {
    position: absolute;

    width: 349px;
    height: 437px;
    right: 54px;
    top: 194px;

}

#left-screen .inner,
#right-screen .inner {
    position: absolute;
    overflow-y: scroll;

    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
