<div id="left-screen">
    <div class="inner">
        <input type="text" ng-model="search" class="search-query" id="pokemons_search" placeholder="Search name or number">
        <ul class="unstyled pokelist">
            <li ng-repeat="singlePokemon in allPokemonz | filter:search">
                <a ng-href="#/pokemon/{{singlePokemon.pokenum}}">
                    <span class="uniform">#{{singlePokemon.pokenum}} ({{singlePokemon.generation}})</span> <i class="pkg  pkgG{{singlePokemon.generation}} n{{singlePokemon.pokenum}}"></i> <span class="thename">{{singlePokemon.pokename}}</span>
                </a>
            </li>
        </ul>

    </div>
</div>
<div id="right-screen">
    <div class="inner" >
        Choose a Pokemon,<br/>or search...
    </div>
</div>
