<div class="pokemon">
    <div id="left-screen">
        <a href="#/" id="btn-back">&laquo; Back</a>

        <div id="spinner1" class="loader"></div>
        <div class="inner">
            <img class="main-img" src="./img_poke/{{formattedPID}}.png" />
            <div class="title">{{pokeObject.pokename}}</div>
            <div class="types">
                <!-- <div class="type-label">Types:</div> -->
                <div class="type type-{{type}}" ng-repeat="type in pokeObject.types">
                    {{type}}
                </div>
            </div>

        </div>
    </div>
    <div id="right-screen">
        <!-- <div id="spinner2" class="loader"></div> -->
        <div class="inner" >
            <div class="title">{{pokeObject.pokename}}</div>
            <h3>General</h3>
            <div class="data-row">
                <div class="label">Number:</div>
                <div class="data">{{pokeObject.pokenum}}</div>
            </div>
            <div class="data-row">
                <div class="label">Generation:</div>
                <div class="data">{{pokeObject.generation}}</div>
            </div>
            <div class="data-row">
                <div class="label">Height:</div>
                <div class="data">{{pokeObject.height}}</div>
            </div>
            <div class="data-row">
                <div class="label">Weight:</div>
                <div class="data">{{pokeObject.weight}}</div>
            </div>
            <h3>Evolution Chain</h3>
            <div class="data-row" ng-repeat="poke in pokeObject.evolution_chain">
                    <div class="uniform"><span ng-if="poke.evolves_from">{{'#' + poke.evolves_from}}</span></div><div class="uniform"><span ng-if="poke.evolves_from"> -> &nbsp;</span></div> <a class="hoverline" ng-href="#/pokemon/{{poke.pid}}"><span class="uniform">#{{poke.pid}}</span> {{poke.name | uppercase}}</a>
            </div>

            <h3>Trainer</h3>
            <div class="data-row">
                <div class="label">Catch Rate:</div>
                <div class="data">{{pokeObject.capture_rate}}</div>
            </div>
            <div class="data-row">
                <div class="label">Base Happiness:</div>
                <div class="data">{{pokeObject.base_happiness}}</div>
            </div>
            <div class="data-row">
                <div class="label">Growth Rate:</div>
                <div class="data"><small>{{pokeObject.growth_rate}}</small></div>
            </div>
            <div class="data-row">
                <div class="label">Egg Cycles:</div>
                <div class="data">{{pokeObject.hatchCycles}}<small> ({{pokeObject.hatchSteps}} steps)</small></div>
            </div>
            <h3>Base Stats</h3>
            <div class="data-row" ng-repeat="(key, value) in pokeObject.baseStats">
                <div class="label">{{key}}:</div>
                <div class="data">{{value}}</div>
            </div>
            <h3>Description</h3>
            <div class="data-row">
                <div class="desc">{{pokeObject.description}}</div>
            </div>



        </div>
    </div>

</div>
